<div>
    <button (click)="verCarrito()">Ver Carrito</button>
  </div>
  
  <div class="carrito">
    <div *ngFor="let producto of carrito | keyvalue">
      <div>
        {{ producto.key }} ({{ producto.value.cantidad }})
        <button (click)="incrementarProducto(producto.key)">+</button>
        <button (click)="disminuirProducto(producto.key)">-</button>
      </div>
    </div>
    <div>
      Total: ${{ obtenerTotal() }}
    </div>
  </div>
  
  <!-- Modal del Carrito -->
  <div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="carritoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carritoModalLabel">Carrito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body carrito">
                <!-- Aquí se insertará el contenido del carrito -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>