<div class="container mt-3">
    <h2>Lista de Usuarios</h2>
    <hr>

    <div *ngIf="usuarios && usuarios.length > 0; else noData">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.direccion }}</td>
                    <td>
                        <button class="btn btn-primary" (click)="modificar(usuario)">Modificar</button>
                        <button class="btn btn-danger" (click)="eliminar(usuario)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noData>
        <p>No hay datos disponibles</p>
    </ng-template>

    <div class="mt-3">
        <h3>Agregar o Modificar usuario</h3>
        <form (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" class="form-control">
            </div>
            <div class="form-group">
                <label for="edad">Direccion:</label>
                <input type="text" id="direccion" [(ngModel)]="direccion" name="direccion" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Agregar</button>
        </form>
    </div>
</div>
